[Desktop Entry]
Icon=unknown
Name=https://github.com/cyberlink1/Arduino-Eagle-Cad-Library
Type=Link
URL[$e]=https://github.com/cyberlink1/Arduino-Eagle-Cad-Library
