[Desktop Entry]
Icon=unknown
Name=https://github.com/sparkfun/Old-SparkFun-Eagle-Library
Type=Link
URL[$e]=https://github.com/sparkfun/Old-SparkFun-Eagle-Library
